.customButton{
    color: rgb(220, 220, 220);
    background-color: grey;
    border-radius: 5px;
    padding: .5rem 2rem;
    border: none;
    cursor: pointer;
    font-weight: bolder;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    
}