@import "../../abstract/mixins.scss";


.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color: #1C2833;
    display: table;
    
    @include respond(tab-land) {
        height: 10vh;
    }

    &__navigation{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: table-cell;
        width: 50%;
        @include respond(tab-land) {
            transform: translate(-90%, -50%);
        }
        &-item{
            list-style: none;
            display: inline-block;
            &:not(:last-child){
                margin-right: 5rem;  

                @include respond(tab-land) {
                    margin-right: 1rem;
                }
            }
        }
        &-link{
            &,
            &:link,
            &:active{
                text-decoration: none;
                text-transform: uppercase;
                color: #616A6B;
                font-size: 1.5rem;

                @include respond(tab-land) {
                    font-size: 1.5rem;

                }

            }
        }
    }
    &__copyright{
        width: 50%;
        display: table-cell;
        vertical-align: middle; 
        font-size: 1.5rem;
        color: #616A6B;
        @include respond(tab-land) {
            font-size: 1.5rem;
            text-align: right;
            padding: 2rem;
        }
    }

    
}